html, body {
  height: 100%;
  width: 100%;
}
table{
  border: solid 2px blue;
  background-color: lightblue;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
}
td{
  padding: 10px;
  text-align: center;
}