@media print{
  #nav{
    display: none;
  }
  #sidebar{
    display: none;
  }
  #footer{
    display: none;
  }
}

@media print{
  img{
    display: none;
  }
}

@media print{
  body{
    font-size: 1.25em;
  }
}

@media print{
  color: black;
  background-color: white;
}

@media print{
  a::after{
    content:"("attr(href)")";
  }
}